<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="download_client_thread.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <download_client_thread.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>web.visualspace.uy.to</value>
            </setting>
            <setting name="PORT" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="Local_Logo" serializeAs="String">
                <value>/image/visual.PNG</value>
            </setting>
            <setting name="img" serializeAs="String">
                <value>pictures</value>
            </setting>
            <setting name="txt" serializeAs="String">
                <value>Data.txt</value>
            </setting>
            <setting name="exe" serializeAs="String">
                <value>Visual_Space.exe</value>
            </setting>
        </download_client_thread.Properties.Settings>
    </userSettings>
</configuration>